# Build artifacts
*.o
*.out
*.exe
*.elf

# Executables (compiled binaries)
**client
**server

# Dependency and build files
*.d
*.a
*.so
*.so.*

# Temporary or backup files
*~
*.swp
*.bak

# Ignore files inside client/files and subfolders
client/files/*
client/files/**/*

# Ignore files inside server/files and subfolders
server/files/*
server/files/**/*

# Keep the folders themselves
!client/files/
!client/files/**/
!server/files/
!server/files/**/

# Logs
*.log

# System files
.DS_Store
Thumbs.db
