# Ignore everything inside client/files except README.md
client/files/**
!client/files/**/README.md

# Ignore everything inside server/files except README.md
server/files/**
!server/files/**/README.md

# Logs
*.log
